<section class="footer">
    <div class="row">
      <div class="colum">
        <h4>What we do</h4>
        <p>
          We are a small group of developers and designers dedicated to highlighting the lines between financial contributions and lawmaking in a free and open manner.
        </p>
        <p>
          Interested in contributing?  Find us <a href="https://github.com/OnWhoseBehalf/" target="_blank">on GitHub</a>.
        </p>
      </div>
      <div class="colum">
        <h4>Who we are</h4>
        <p>
          We are Jim Hall, Percy Hatcherson, Chris Stockbridge, Sam Allen, and Chris McAdams.  With help from Eric Wittke and Conrad Daniels.
        </p>
      </div>
      <div class="colum">
        <h4>Powered by </h4>
        <p>
          <a href="http://sunlightfoundation.com/" target="_blank">SunlightFoundation.com</a>
        </p>
        <p>
          Federal campaign contribution and lobbying records from <a href="https://www.opensecrets.org/" target="_blank">OpenSecrets.org</a>
        </p>
      </div>
    </div>
</section>
