appWidth = 1200px
appWidthNarrow = 860px
gutterWidth = 20px
serifFont = "Palatino Linotype", "Book Antiqua", Palatino, serif

// Colors
lightGrey = #fcfcfc
primaryGrey = #666

lighterTan = #F2F1EB
lightTan = #DBDAD3
middleTan = #E8E7E1
primaryTan = #807E77
darkTan = #52504B
accentGreen = #3dad75
lightGreen = #A3D681
accentPeach = #ff705a

/* - - - Interim Variables - - - */
// base colors
$mainColorOne = #3D5059 // navy
$mainColorTwo = #5F7C8B // dark blue gray
$accentColorOne = #FF5404 // accent orange
$accentColorTwo = #00BBD6 // accent blue
$accentColorThree =  #E9EFF2 // light blue
$lightestColor = #fff //white

// background colors
$primaryBackground = $lightestColor
$secondaryBackground = $mainColorOne
$tertiaryBackground = $accentColorThree

// text colors
$textColor = $mainColorTwo
$primaryHeaderColor = $mainColorTwo
$secondaryHeaderColor = $lightestColor

// Link Colors
$linkColor = $accentColorOne
$linkHoverColor = lighten($linkColor, 30%)
$linkVisitedColor = darken($linkColor, 30%)

